<?xml version="1.0"?>
<phpunit convertErrorsToExceptions="true" convertWarningsToExceptions="true" bootstrap="tests/bootstrap.php">

	<!-- testsuites -->

	<testsuites>

		<!-- autoloader -->

		<testsuite name="autoloader">
			<file>tests/AutoloaderTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
