<?xml version="1.0"?>
<phpunit convertErrorsToExceptions="true" convertWarningsToExceptions="true" bootstrap="tests/bootstrap.php">

	<!-- filter -->

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>

	<!-- testsuites -->

	<testsuites>

		<!-- autoloader -->

		<testsuite name="autoloader">
			<directory>tests/phpunit/Autoloader</directory>
		</testsuite>
	</testsuites>
</phpunit>
