<?xml version="1.0"?>
<phpunit convertErrorsToExceptions="true" convertWarningsToExceptions="true" bootstrap="tests/bootstrap.php">

	<!-- coverage -->

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>

	<!-- testsuites -->

	<testsuites>

		<!-- autoloader -->

		<testsuite name="autoloader">
			<directory>tests/phpunit/Autoloader</directory>
		</testsuite>
	</testsuites>
</phpunit>
